<div class="row">

  <div class="text-center">

    <a href="/records">
      <h1>Click Here to Continue to Ryan's Expense Tracker</h1>
    </a>
  </br></br>

    <h4>A simple expense tracking app that utilizes ReactJS! =)</h4>

  </div>

</div>
